[submodule "wordpress-develop"]
	path = wordpress-develop
	url = https://github.com/WordPress/wordpress-develop.git
	branch = trunk
[submodule "amp"]
	path = amp
	url = https://github.com/ampproject/amp-wp.git
	branch = develop
